<!doctype html>
<html ng-app="rust-log-viewer">
    <head>
        <title>Rust Log Viewer</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="./style.css">
    </head>

    <body ng-controller="Viewer">
        <p class="text-center">Hey there! This tool parses log data generated
        in <a href="http://www.rust-lang.org/">Rust</a> programs, and makes
        them colorable and easy to search. Just drop your log in the big 'ole
        text area right under this paragraph.</p>

        <a href="https://github.com/cmr/rust-log-viewer"><img style="position: absolute; top:
            0; right: 0; border: 0;"
            src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
            alt="Fork me on GitHub"
            data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

        <textarea class="form-control" rows="3" ng-model="input"></textarea>

        <div>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="moduleFilter">Module Filter</label>
                    <input ng-model="module_filter" type="text" class="form-control" id="moduleFilter">
                </div>
                <div class="form-group">
                    <label for="contentFilter">Content Filter</label>
                    <input ng-model="content_filter" type="text" class="form-control" id="contentFilter">
                </div>
            </form>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>module</th>
                    <th>content</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="line in lines" class="{{line.level}}">
                    <td class="mod">{{line.module}}</td>
                    <td class="text">{{line.text}}</td>
                </tr>
            </tbody>
        </table>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
        <script src="./app.js"></script>
    </body>
</html>
